#home{
    background-color: lightslategray;
    display: table;
    height: 100%;
    position: relative;
    width:100%;
}

.landing-text{
    padding-top: 25%;
    padding-bottom: 25%;
    text-align: center;
}

#contact_us{
    background-color: aquamarine;
    display: table;
    height: 100%;
    position: relative;
    width:100%;
}
#contact{
    margin-top: 20%;
}

.label_form{
    padding-left: 25%;
}
.kolom{
    float: right;
    margin-right: 25%;
    width: 30%;
}
.button{
    float: right;
    margin-right: 25%;
}

#footer{
    padding-top: 3px;
    background-color: rgb(148, 205, 243);
    width: 100%;

}